.a-message
  .name-and-date.clearfix
    %p.name-and-date__post-user
      = message.user.name
    %p.name-and-date__post-date
      = format_posted_time(message.created_at)
    %p.name-and-date__text
      = message.content
    = image_tag message.image.url, class: 'name-and-date__image' if message.image.present?
