.wrapper
  = render partial: "devise/shared/sidebar"
  .main
    .header
      .header-left
        %p.header-left__current-group
          current_group_name
        %p.header-left__current-group-members
          Members:current_group_members
      .header-right
        %a.header-right__header-right__edit-btn
          Edit
    .messages
      .a-message
        .name-and-date
          %p.name-and-date__post-user
            post-user
          %p.name-and-date__post-date
            post-date
        %p.text
          text
        %img.pic
          img
      .a-message
        .name-and-date
          %p.name-and-date__post-user
            post-user2
          %p.name-and-date__post-date
            post-date2
        %p.text
          text2
        %img.pic
          img2
      .a-message
        .name-and-date
          %p.name-and-date__post-user
            post-user3
          %p.name-and-date__post-date
            post-date3
        %p.text
          text3
        %img.pic
          img3
    .form
      %form
        .input-box
          %input.input-left{type: "text_field", placeholder: "type-a-message"}
            %label.input-left__icon{for: "imagefile"}
              %i.fa.fa-image
              %input.input-file{type: "file",  id: "imagefile"}
        %input.submit-btn{type: "submit", value: "Send"}
