.form{
  margin-right: calc(((( 100vw - 300px) - 100%) / 2) * -1);
  margin-left: calc(((( 100vw - 300px) - 100%) / 2) * -1);
  padding: 20px 0 20px 40px;
  @include div-basic( 90px, calc( 100vw - 300px), #AAAAAA)
}

.input-box{
  float: left;
  width: calc(100vw - 300px - 40px);
  position: relative;
  &__text{
    height: 50px;
    width: calc(100vw - 300px - 40px - 15px - 100px - 40px);
    padding: 0 0 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: $black;
  }
  &__mark{
    position: absolute;
    top: 13px;
    right: 185px;
  }
  &__link{
    display: none;
  }
  &__btn{
    height: 50px;
    width: 100px;
    color: #ffffff;
    background: $light-blue;
    position: absolute;
    top: 0px;
    right: 40px;
  }
}


