.groups{
  overflow: scroll;
  @include div-basic( calc(100vh - 100px), 300px, $side_blue_light)
}

.groups-info{
  padding: 0 20px;
  &__groups-name{
  font-size: 15px;
  color: #FFFFFF;
  padding: 20px 0 5px 0;
  }
  &__new-message{
  font-size: 11px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
  }
}

