.sidebar{
  float: left;
  .header{
    @include div-basic(100px, 300px, #253141)
  }
}

.user-info{
  line-height: 100px;
  padding: 0 20px;
  .user-info__name{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    float: left;
  }
  .user-info__menu{
    color: #FFFFFF;
    .user-info__menu--new-create-group{
      float: right;
    }
    .user-info__menu--edit-user{
      float: right;
    }
  }
}

