.groups{
  @include div-basic( calc(100vh - 100px), 300px, #2f3e51)
}

.groups-info{
  padding: 0 20px;
  .groups-info__groups-name{
  font-size: 15px;
  color: #FFFFFF;
  padding: 20px 0 5px 0;
  }
  .groups-info__new-message{
  font-size: 11px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
  }
}

