.heading {
  height: 10vh;
  width: 100vw;
  background-color: #38AEFD;
  color: white;
  text-align: center;
}

.left {
  height: 100vh;
  width: 300px;
  float: left;
  left-1 {
    height: 86px;
    background-color: #253141;
  }
  left-2 {
    height: 80vh;
    background-color: #2f3e51;
  }
}

.right {
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;

}
